@import '../../base.scss';

* {
    margin: 0;
    padding: 0;
}

.footer {
    background: #4d6edc;
    padding: 1.25rem;
    &-logo {
        font-size: $font-logo-size;
        color: $font-logo-color;
        font-family: $font-primary-family;
    }
    &-items {
        &-item {
            display: flex;
            justify-content: center;
            gap: 10px;
            list-style: none;
            font-family: $font-primary-family;
            font-size: $footer-size;
            &-icons {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: $font-title-color;
                padding: 10px;
                border-radius: 10px;
                transition: .2s ease-in-out;
                &:hover {
                    background: #0841ff;
                }
            }
        }
        &-powered {
            padding: 10px 0 0 0;
            font-size: 1.15rem;
            color: #b5b5b5
        }
    }
}