@import '../../base.scss';

.footer {
    width: 100%;
    background-color: #000000;
    color: #eeeeee;
    padding: 3rem 1rem;
    border-top: 2px solid #e8e8e8;
    &-container {
        width: 1240px;
        margin: auto;
        text-align: center;
        & ul {
            display: flex;
            justify-content: center;
            & li {
                padding: 1rem;
                & a {
                    color: #ffffff;
                    &:hover {
                        padding-bottom: 12px;
                        color: var(--color);
                        border-bottom: 3px solid var(--color);
                    }
                }
            }
        }
        &-bottom {
            text-align: center;
        }
    }
}

.line {
    margin-bottom: 1rem;
}

/* ########## IMPORT RESPONSIVE FILE ########## */
@import './responsive-footer.scss';