@import '../../responsive.scss';

@include media-up(lm) {
    .footer {
        &-container {
            max-width: 100%;
            & ul {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}