

.skills {
    background-color: #000000;
    width: 100%;
    color: #ffffff;
    padding: 8rem 1rem 1rem 1rem;
    & h2 {
        font-size: 3rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 10px;
    }
    &-container {
        width: 1240px;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 40px;
        &-card {
            position: relative;
            width: 220px;
            height: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            & > img {
                width: var(--width);
            }
        }

    }
}
/* ########## IMPORT RESPONSIVE FILE ########## */
@import './responsive-skills.scss';