@import '../../base.scss';

.projects {
    display: grid;
    // place-items: center center;
    font-family: $font-primary-family;
    &-cards {
        display: grid;
        padding: 50px;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        @include media-up(m) {
            padding: 50px;
            grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        }
    }
    &-title {
        font-size: 2.25rem;
        padding: 20px 1rem;
        color: #4f4f4f;
        @include media-up(m){
            &-title {
                font-size: 2.25rem;
            } 
        }
    }
    &-image {
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        & > img {
            width: 100%;
            display: block;
            border-radius: 20px 20px 0 0;
        }
        &::after {
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 20px 20px 0 0;
            opacity: 0.3;
        }
    }
    &-card {
        border-radius: 20px;
        box-shadow: 0 0 30px rgba(0, 0, 0, .18);
        & > .projects-image::after {
            background-image: linear-gradient(200deg, #3eff5f, #5390ff);
        }
    }
    &-details {
        padding: 20px 10px;
        &-title {
            font-weight: 600;
            font-size: 20px;
            color: #3e6bff;
            margin: 10px 0 15px 0;
            transition: .2s ease-in-out;
            &:hover {
                // text-decoration: underline;
                color: #72ccd8;
            }
            @include media-up(m) {
                font-size: 2rem;
            }
        }
        & > a {
            text-decoration: none;
        }
        &-description {
            color: $font-color;
            font-size: 15px;
            line-height: 25px;
            font-weight: 500;
            @include media-up(m){
                font-size: 1.25rem;
                padding: 50px 40px;
            }
        }
    }
}