@import '../../base.scss';

.studies {
    padding: 2em 5em;
    display: grid;
    gap: 2rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    font-family: $font-primary-family;
    &-title-header {
        font-family: $font-primary-family;
        font-size: 2.25rem;
        padding: 20px 1rem;
        color: #4f4f4f;
    }
    &-card {
        padding: 10px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 20px;
        box-shadow: 3px 3px 5px 4px #4f4f4f;
        &-title {
            font-size: 2.25em;
            color: $font-color-description;
            font-family: $font-primary-family;
            padding: 10px 0;
            @include media-up(m){
                font-size: 1.75em;
            }
        }
        &-career {
            font-size: 2em;
            color: #606060;
            font-family: $font-primary-family;
            padding: 10px 0;
            @include media-up(m) {
                font-size: 1.55rem;
            }
        }
        &-institution {
            font-size: 2em;
            color: #606060;
            font-family: $font-primary-family;
            padding: 10px 0;
            @include media-up(m) {
                font-size: 1.55em;
            }
        }
    }
    @include media-up(m){
        padding: 2em 10px;
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    }
}


.jobs {
    padding: 2em 5em;
    display: grid;
    gap: 2rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    &-title-header {
        font-family: $font-primary-family;
        font-size: 2.25rem;
        padding: 20px 1rem;
        color: #4f4f4f;
    }
    &-card {
        padding: 10px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 20px;
        box-shadow: 3px 3px 5px 4px #4f4f4f;
        &-title {
            font-size: 2.25em;
            color: $font-color-description;
            font-family: $font-primary-family;
            padding: 10px 0;
            @include media-up(m) {
                font-size: 1.75em;
            }
        }
        &-career {
            font-size: 2em;
            color: #606060;
            font-family: $font-primary-family;
            padding: 10px 0;
            @include media-up(m) {
                font-size: 1.55em;
            }
        }
        &-institution {
            font-size: 2em;
            color: #606060;
            font-family: $font-primary-family;
            padding: 10px 0;
            @include media-up(m) {
                font-size: 1.55em;
            }
        }
    }
    @include media-up(m) {
        padding: 2em 10px;
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    }
}