@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

$font-primary-family: 'Raleway', sans-serif;
$font-title-size: 20px;
$font-title-color: #e3e3e3;

$font-logo-size: 1.75rem;
$font-logo-color: #000000;

$footer-size: 15px;