@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

$font-poppins: 'Poppins', sans-serif;
$font-primary-family: 'Raleway', sans-serif;
$font-logo: 'Great Vibes', cursive;
$primary-color: #5bb462;
$primary-dark: #4f9c55;
$secondary-color: #ffea00;
$secondary-dark: #e3d002;
$overlay: rgb(0,0,0,.835);

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.button {
    padding: 10px 25px;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 4px;
    cursor: pointer;
    transition: all .2s;
    &:hover {
        color: #000000;
        background: $secondary-dark;
        border: 1px solid $secondary-dark;
    }
}

.line {
    display: block;
    width: 40px;
    height: 3px;
    margin: 5px auto;
        background-color: $primary-color;
}