@import './base.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-poppins;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.2rem;
    line-height: 1.2;
}

/* Estilo para el scrollbar en navegadores webkit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 0px;
}

/* Estilo para el scrollbar en Firefox */
scrollbar {
    width: 0px;
}