@import '../../responsive.scss';

@include media-up(lm){
    .studies {
        &-container {
            width: 100%;
        }
        &-content {
            grid-template-columns: 1fr;
            &-card {
                max-width: 100%;
                margin-top: 3rem;
                & img {
                    width: 45%;
                }
            }
        }
    }
}

@include media-up(m){
    .studies {
        &-content {
            &-card {
                & img {
                    width: 35%;
                }
            }
        }
    }
}