@import '../../base.scss';

.header {
    position: fixed;
    height: 90px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    transition: .3s ease-in-out;
    overflow: hidden;
    background-color: rgba(0,0,0,.9);
    &-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1240px;
        margin: auto;
        height: 100%;
        padding: 0 1rem;
        &-hamburguer {
            display: none;
        }
        & img {
            width: 250px;
            height: auto;
        }
        &-menu {
            display: flex;
            &-item {
                padding: 1rem;
                font-weight: 500;
                & .active {
                    padding-bottom: 12px;
                    border-bottom: 3px solid $secondary-color;
                    transition: all .2s;
                }
                & > a {
                    color: #ffffff;
                }
                & > a:hover {
                    padding-bottom: 12px;
                    border-bottom: 3px solid $secondary-color;
                    transition: all .3s;
                }
            }
        }
    }
}


/* ########## IMPORT RESPONSIVE FILE ########## */
@import './responsive-header.scss';