@import '../../base.scss';

.header {
    background: #4d6edc;
    padding: 1.25rem;
    &-logo {
        font-size: $font-logo-size;
        color: $font-logo-color;
        font-family: $font-primary-family;
    }
    &-items {
        &-item {
            display: flex;
            justify-content: flex-end;
            gap: 5px;
            list-style: none;
            &-nav-link {
                text-decoration: none;
                color: $font-title-color;
                transition: .2s ease-in-out;
                font-family: $font-primary-family;
                font-size: $font-title-size;
                padding: 10px;
                border-radius: 10px;
                &:hover {
                    background: #0841ff;
                }
                @include media-up(m){
                    font-size: 1.25rem;
                }
                &-active {
                    padding: 10px;
                    border-radius: 10px;
                    background: #0841ff;
                    color: #b5b5b5;
                    text-decoration: none;
                    transition: .2s ease-in-out;
                    font-family: $font-primary-family;
                    font-size: $font-title-size;
                    @include media-up(m){
                        font-size: 1.25rem;
                    }
                }
            }
        }
        @include media-up(m){
            &-item {
                display: none;
            }
        }

    }
}

.nav__icon {
    display: none;
}

.nav__icon-close {
    display: none;
}

@include media-up(m)
{
    .nav__icon {
        display: flex;
        justify-content: flex-start;
        color: $font-title-color;
        cursor: pointer;
        font-size: 2em;
    }
    .nav__icon-close {
        display: flex;
        justify-content: flex-end;
        padding: 20px 0 0 0;
        color: #ff7700;
        cursor: pointer;
        font-size: 2rem;
    }

    .sidebar-responsive {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
        & > li {
            list-style: none;
        }
    }
}
