@import '../../responsive.scss';

@include media-up(lm){
    .jobs {
        &-items {
            width: 100%;
            &::before{
                left: 17px;
            }
            &-item {
                &:nth-child(odd){
                    padding-right: 0;
                    text-align: left;
                }
                &:nth-child(even), &:nth-child(odd){
                    padding-left: 37px;
                }
            }
        }
        &-dot {
            left: 10px;
        }
        &-content {
            margin: 50px 0;
            & img {
                width: 40%;
                margin-top: -70px;
            }
        }
    }
}

@include media-up(m){
    .jobs {
        &-content {
            & img {
                width: 20%;
            }
        }
    }
}