@import '../../base.scss';

.about {
    padding: 2em 5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: $font-primary-family;
    &-title {
        font-family: $font-primary-family;
        font-size: 2.25rem;
        padding: 20px 1rem;
        color: #4f4f4f;
    }
    &-info {
        font-size: 1.55em;
        color: $font-color;
        padding: 10px 0;
        & > p {
            padding: 10px 0;
        }
    }
    @include media-up(m){
        padding: 2em;
    }
}