@import '../../responsive.scss';

@include media-up(lg){
    .about {
        &-container {
            grid-template-columns: 1fr;
            width: 100%;
            & > img {
                padding: 0 0 2rem 0;
                // width: 90vw;
                border-radius: 0;
            }
            & > .col-2 {
                padding: 0;
                & p:nth-child(4) {
                    font-size: 1.2rem;
                }
            }
        }
        & button {
            margin-bottom: 1rem;
        }
    }
}